.flex-container {
    display: flex;
    background-color: rgb(147, 197, 243);
}
.flex-container>div {
    margin: 10px;
    padding: 16px; 
}
.footer{
    background-color: rgb(147, 197, 243);
    padding: 20px;
    margin: 10px;
}
.flex-container-for-description{
    display: flex;
    width: 100%;    
}
description{
    text-align:right; 
    width:50%;
}


@media only screen and (max-width: 480px) {
    body {
        background-color: rgb(147, 197, 243);
    }
    .flex-container {
        display:inline;
        background-color: rgb(147, 197, 243);
        text-align: left;
    }
    description{
        text-align:left; 
        width:50%;
    }
}